@import './../../Global.scss';

#single_button{
    // size
    width: calc(var(--vw)*70);
    height: calc(var(--vh)*8);
    // button
    background-color: $color_blue;
    border-radius: 20px;
    border: none;
    // font
    font-size: calc(var(--vw)*6);;
    font-weight: bold;
    color: $color_white;
}


#text_button{
    // size
    height: calc(var(--vh)*7);
    // button
    background-color: $color_transparency;
    border: none;
    // font
    font-size: calc(var(--vw)*5);;
    color: $color_black_t30;
}
#text_button:active{
    font-size: calc(var(--vw)*5.3);
}