@import '../../Global.scss';

#root_container{
    // size
    width: $size_width_component;
    // align
    flex-direction: column;
    align-items: center;
}

#title{
    // font
    font-size: calc(var(--vw)*4.5);
    font-weight: bold;
    // margin
    margin-bottom: calc(var(--vh)*1);
}

#box{
    // size
    width: 100%;
    box-sizing: border-box; // 패딩 포함 크기로
    // color
    background-color: $color_white;
    // border
    border: 2px solid $color_black_t30;
    border-radius: 20px;
    // align
    flex-direction: column;
    align-items: center;
    // padding
    padding: calc(var(--vw)*5);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    -o-sizing:border-box;
    box-sizing:border-box;

}