@import '../../Global.scss';

.root_container {
    // size
    width: calc(var(--vw)*100);
    height: calc(var(--vh)*10);
    // color
    background-color: $color_deepgreen;
    // align
    justify-content: center;
    // position
    position: fixed;
    bottom: 0;
    // animation
    transition: bottom .35s;
}
.root_container_unvisible{
    bottom: calc(var(--vh)*-10);
}



#text{
    // font
    font-size: calc(var(--vw)*2.5);
    font-weight: 200;
    color: $color_white;
    // align
    text-align: center;
    align-items: center;
}