@import './../../Global.scss';

// size
$header_height: 12vh;
$item_height: 7vw;
$title_font_size: 6vw;
$sub_font_size: 3vw;
$profil_img_size: 10vw;
    // margin
$side_margin: 4vw;
$margin_main_title_left: 1vw;
$margin_sub_title_left: 0.5vw;

//
// Class
//

.title_box {
    // flex
    display: flex;
    align-items: end;

    // size
    height: $item_height;
    width: auto;

    // font
    color: $color_white,
}


//
// Id
//

// 최상단 컨테이너
#container{
    justify-content: space-between;
    background-color: $color_deepgreen;
    align-items: center;
}

// 림그일기 제목 그룹
#title_container{
    height: $header_height;
    align-content: center;
    margin-left: $side_margin;
}

#logo_box {
    height: $item_height;
    width: $item_height;
}

#main_title{
    font-size: $title_font_size;
    font-weight: bold;
    margin-left: $margin_main_title_left;
}

#sub_title{
    font-size: $sub_font_size;
    margin-left: $margin_sub_title_left;
}

// 프로필 이미지 박스
#user_img_box{
    height: $profil_img_size;
    width: $profil_img_size;
    margin-right: $side_margin;
    border-radius: 100%;
    overflow: hidden;
}