@import '../Global.scss';


#root_container{
    // size
    width: calc(var(--vw)*100);
    height: calc(var(--vh)*100);
    // color
    background-color: $color_beige;
    // item align
    flex-direction: column;
    align-items: center;
}