@import '../Global.scss';



// 일기 목록
#align_btn{
    // color
    background-color: $color_transparency;
    // border
    border: none;
    // font
    font-size: calc(var(--vw)*4);
    color: $color_black_t30;
    // margin
    margin-bottom: calc(var(--vh)*1);
    margin-right: calc(var(--vw)*1);
}

#list_container{
    // size
    width: 100%;
    height: calc(var(--vh)*50);
    // align
    flex-direction: column;
    //overflow
    overflow: scroll;
}
#list_container::-webkit-scrollbar{
    display: none;
}

#list_box{
    // align
    flex-direction: column;
}

#list_box_date{
    // font
    font-size: calc(var(--vw)*4);
    font-weight: bold;
    color: $color_black_t30;
}

#list_box_content{
    // size
    width: 100%;
    // overflow
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // font
    font-size: calc(var(--vw)*5);
    // font-weight: bold;
    color: $color_black;
}

#list_box_hr{
    width: 90%;
}


// 기간
#search_date_container{
    //size
    width: 100%;
    // margin
    margin-top: calc(var(--vh)*5);
    margin-bottom: calc(var(--vh)*3);
    // align
    justify-content: space-between;
    align-items: center;
}

#search_date_title{
    font-size: calc(var(--vw)*6);
    font-weight: bold;
}

#search_date_input_container{
    align-items: center;
}

.search_date_input{
    // size
    width: calc(var(--vw)*30);
    height: calc(var(--vh)*5);
    // color
    background-color: $color_white;
    // border
    border: 1px $color_black_t30 solid;
    border-radius: 5px;
    // font
    font-size: calc(var(--vw)*4);
    // align
    text-align: center;
    // padding
    padding-left: calc(var(--vw)*2);
    padding-right: calc(var(--vw)*2);
    // margin
    margin: 0;
}

#search_date_mid{
    // font
    font-size: calc(var(--vw)*6);
    //margin
    margin-left: calc(var(--vw)*2);
    margin-right: calc(var(--vw)*2);
}


// 검색어
#search_keyword_container{
    // size
    width: 100%;
    // margin
    margin-bottom: calc(var(--vh)*8);
    // align
    justify-content: space-between;
    align-items: center;
}

#search_keyword_title{
    font-size: calc(var(--vw)*6);
    font-weight: bold;
}

#search_keyword_input{
    // size
    width: calc(var(--vw)*65);
    height: calc(var(--vh)*5);
    // padding
    margin: 0;
    // color
    background-color: $color_transparency;
}
