@import '../../Global.scss';

#tag_selected, #tag_unselected{
    // size
    width: auto;
    // border
    border: none;
    border-radius: 50px;
    // margin
    margin: calc(var(--vw)*1);
    // padding
    padding: calc(var(--vw)*3) calc(var(--vw)*4) calc(var(--vw)*3) calc(var(--vw)*4);
    // font
    font-size: calc(var(--vw)*4);
    font-weight: bold;
    color: $color_white;
    // shadow
    box-shadow: 0 3px 5px 0px $color_black_t30;
}

#tag_selected{
    // color
    background-color: $color_blue_b;
}

#tag_unselected{
    // color
    background-color: $color_blue;
}

// Gray Tag
#gray_tag{
    // size
    width: auto;
    height: fit-content;
    flex-shrink: 0;
    // padding
    padding: calc(var(--vw)*1) calc(var(--vw)*2) calc(var(--vw)*1) calc(var(--vw)*2);
    // border
    border: none;
    border-radius: 50px;
    // margin
    margin: calc(var(--vw)*0.5);
    // font
    font-size: calc(var(--vw)*3.5);
    font-weight: bold;
    color: $color_white;
    // color
    background-color: $color_black_t30;
}

#delete_gray_tag{
    // size
    width: auto;
    height: fit-content;
    flex-shrink: 0;
    // padding
    padding: calc(var(--vw)*1) calc(var(--vw)*4) calc(var(--vw)*1) calc(var(--vw)*4);
    // border
    border: none;
    border-radius: 50px;
    // font
    font-size: calc(var(--vw)*3.5);
    font-weight: bold;
    color: $color_white;
    // color
    background-color: $color_black_t30;
    // position
    position: relative;
    margin: calc(var(--vw)*2);
}

#deleteBox{
    // posion
    position: absolute;
    top:calc(var(--vw)*-1);
    right:calc(var(--vw)*-1);
    // size
    width: calc(var(--vw)*5);
    height: calc(var(--vw)*5);
}

#deleteImg{
    display: block;
}