<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>림그일기</title>
</head>
<body>
    <form action="/diary/write" method="post">
        <label for="diary">일기 작성</label>
        <br>
        <textarea id="diary" name="diary" maxlength="1000" rows="20" cols="100"></textarea>
        <br>
        <br>

        <label for="rate">오늘 하루 평가</label>
        <br>
        <select id="rate" name="rate">
            <option value="3" selected>상</option>
            <option value="2">중</option>
            <option value="1">하</option>
        </select>
        <br>
        <br>

        <button type="submit">완료</button>

    </form>
</body>
</html>