<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>림그 일기</title>
</head>
<body>
    <form action="/history/list" method="get">
        <input type="date" name="sdate" th:value="${sdate}">
        <input type="date" name="edate" th:value="${edate}">
        <button type="submit">조회</button>
    </form>

    <div th:each="diary: ${diaries}">
        <a th:href="'/history/view/'+${diary.diary_id}">
            <div th:text="${diary.date}+' - '+${diary.content}"></div>
        </a>
    </div>
</body>
</html>