<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>림그일기</title>
</head>
<body>
<img th:if="${diary} != null" th:src="'/resource/diaryimg/'+${diary.diary_id}"><br><br>
<img th:unless="${diary} != null" th:src="'/resource/diaryimg/default'"><br><br>

<div th:if="${diary} != null" th:text="${diary.content}"></div>

<a th:if="${diary} != null" href="/diary/update">일기 수정하기</a>
<a th:unless="${diary} != null" href="/diary/write">일기 쓰러 가기</a>
</body>
</html>