@import "./../Global.scss";

///
/// Id
/// 

// 최상단 컨테이너
#container{
    width: calc(var(--vw)*100);
    height: calc(var(--vh)*100);
    flex-direction: column;
}

// 위쪽 컨테이너 박스
#upper_container{
    // size
    height: calc(var(--vh)*40);;
    flex-grow: 1;

    // color
    background-color: $color_beige;

    // item-align
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// 타이틀 이미지 박스
#title_img_box{
    // size
    width: calc(var(--vw)*70);
    height: calc(var(--vh)*20);
}
// 아래쪽 안내말 박스
#help_title_box{
    // size
    width: calc(var(--vw)*70);
    height: calc(var(--vh)*10);
}


#lower_container{
    // size
    height: calc(var(--vh)*50);
    flex-grow: 1;
    // color
    background-color: $color_white;
    // item-align
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#input_box{
    width: $size_width_component;
    height: calc(var(--vh)*20);
}

input{
    // size
    width: 100%;
    height: 25%;
    // border
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1;
    border-color: $color_black_t30;
    border-width: 2px;
    border-radius: 5;
    // font
    font-size: calc(var(--vw)*5);
    // padding
    padding-left: 2%;
}
input::placeholder{
    color: $color_black_t30;
    font-size: calc(var(--vw)*5);;
}

#btn_box{
    // size
    width: $size_width_component;
    height: 30%;
    // item-align
    flex-direction: column;
    justify-self: center;
    align-items: center;
}



