@import '../Global.scss';

#modal_body_box{
    // size
    height: calc(var(--vh)*60);
    // item align
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: scroll;
}

#input_box{
    flex-direction: column;
}

input{
    // size
    width: 100%;
    height: calc(var(--vh)*8);
    // border
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1;
    border-color: $color_black_t30;
    border-width: 2px;
    border-radius: 5;
    // font
    font-size: calc(var(--vw)*5);
    // padding
    padding-left: 2%;
    // margin
    margin-bottom: calc(var(--vh)*4);
}
input::placeholder{
    color: $color_black_t30;
    font-size: calc(var(--vw)*5);;
}

#button_box{
    flex-direction: column;
    align-items: center;
}